.cart-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}

@media screen and (min-width: 768px) {
  .cart-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .cart-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
