@font-face {
  font-family: Karla;
  src: url(./Karla-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Karla;
  src: url(./Karla-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
