.intro {
  background-color: #f6f6f6;
  padding: 100px 0 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.intro__title {
  margin: 10px 0 15px;
  text-align: center;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

.intro__subtitle {
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 115px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 479px) {
  .intro {
    padding: 100px 4% 110px;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 100px 30px 110px;
  }

  .intro__title,
  .intro__subtitle {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .intro__title,
  .intro__subtitle {
    width: calc(940px * 0.6);
  }
}
